/*media queries*/
@media screen and (min-width:350px){
	.main-message{
		transform:translateY(40%);
	}
}

@media screen and (min-width:470px){
	.hero::before{
		height:9.4rem;
		background:url("images/wave-medium.png"); 
		background-size: cover;
	}
	.testimonials::before{
		height:9.4rem;
		background:url("images/wave-medium-reversed.png"); 
		background-size: cover;
	}
}

@media screen and (min-width:700px){
	header{
		height:8rem;
	}
	.nav-brand{
		width:3.5rem;
	}
	.nav-list{
		width:initial;
		height:initial;
		background-color:transparent;
		top:initial;
		right:initial;
		position:initial;
		flex-direction:row;
		transition:initial;
	}
	.menu-icons{
		display:none;
	}
	.nav-item{
		margin:0 2.5rem;
	}
	.nav-link,.current{
		color:#fafafa;
		position:relative;
		font-size:1.3rem;	 
	}
	
	.nav-link::before,.current::before{
		content:'';
		position:absolute;
		left:0;
		bottom:-0.5rem;
		background-color:#eb648c;
		height:2px;
		width:100%;
		transform:scaleX(0);
		transform-origin:left;
		transition:transform 650ms;
	}
	.current::before{
		transform:scaleX(1);
	}
	.nav-link:hover::before{
		transform:scaleX(1);
	}
	.hero{
		height:60vh;
	}
	.main-message{
		transform:translateY(50%);	
	}
	.title-heading h1{
		font-size:2.5rem;	
	}
}

@media screen and (min-width:950px){
	.hero::before{
		height:22.7rem;
		background:url("images/wave-large.png"); 
		background-size: cover;
	}
	.testimonials::before{
		height:22.7rem;
		background:url("images/wave-large-reversed.png"); 
		background-size: cover;
	}
}

@media screen and (min-width:1200px){
	.hero{
		height:75vh;
	}
}